@charset "UTF-8";

body {
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin:0 auto;
	font-size: 3.2rem;
}

button {
	cursor: pointer;
}
.header {
	color: #fff;
	text-align: center;
	background: #29bde0;
}

.main {
	overflow: hidden;
	text-align: center;
}
