html{
    font-size:62.5%;
    background-color: #eff0f4;
    color: white;
}
body{
    margin: 0;
}
.header{
    position: fixed;
    left:0;
    right:0;
    top:0;
    text-align: center;
    padding:4rem 2.9rem 2.4rem ;
    background-color: #5fc0cd;
}
.lock{
    font-size: 3.2rem;
    float: left;
}
.sign{
    font-size: 3.2rem;
    float: right;
}
.login{
    font-size: 3.6rem;
}
.main{
    margin-top: 12rem;
}
.number{
    margin-bottom:1.6rem;
    padding:3rem 0;
    background-color: white;
}
.pass{
    padding:3rem 0;
    background-color: white;
}
input{
    outline:none;
    border:none;
    border-left:0.1rem solid  #eff0f4;
    font-size: 3.2rem;
    text-indent:3.2rem;
}
img{
    float: left;
    padding:0 4.2rem;
}
button{
    background-color:#5fc0cd;
    color: white;
    width: 100%;
    outline:none;
    border:none;
    font-size: 3.6rem;
    text-align: center;
    margin-top:7rem;
    padding: 3.2rem 44%;
}
.footer{
    font-size:3.2rem;
    color: #5fc0cd;
    float: right;
    padding-top:2rem;;
    padding-right:3.3rem;
}
