@charset "UTF-8";
html {
  font-size: 62.5%;
  background: white;
}
@media (min-width: 360px) and (max-width: 480px) {
  html {
    font-size: 45%;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 33%;
  }
}
body {
  margin: 0 auto;
  padding-bottom: 28rem;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  font-family: arial, "Microsoft Yahei", sans-serif;
  line-height: 1;
  background: #eff0f4;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #ddd;
}
input {
  padding: 1.2rem 0;
  font-size: 3.2rem;
  color: black;
  outline: none;
  text-indent: 5%;
  border: none;
  border-left: 2px solid #eaedee;
}
img {
  padding: 0 2% 0 3%;
  margin-top: -1.5rem;
  vertical-align: middle;
  width: 5%;
  max-height: 42px;
  max-width: 29px;
}
.header {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #5fc0cd;
}
.header h5 {
  text-align: center;
  padding: 2.6rem 0;
  margin: 0;
  font-size: 3.6rem;
  font-weight: normal;
}
.header .header_close {
  padding: 3rem;
  font-size: 3.2rem;
}
.header .header_register {
  padding: 3rem ;
  font-size: 3.2rem;
}
form {
  padding: 1.7rem 0;
  margin: 2% 0.5rem 0;
  background-color: white;
}
.login {
  text-align: center;
  padding: 3.2rem 0;
  margin-top: 7rem;
  width: 100%;
  background-color: #5fc0cd;
  border: none;
}
.login a {
  padding: 3.2rem 40%;
  font-size: 3.6rem;
  font-family: "Microsoft Yahei";
}
.footer {
  padding: 2%;
  float: right;
}
.footer a {
  font-size: 3.2rem;
  color: #5fc0cd;
}
