/*全局*/
html {
    font-size: 62.5%;
    font-family: Microsoft YaHei, serif;
    font-weight: normal;
}
@media screen and (max-width:1200px){   html{font-size:62.5%;}  }
@media screen and (max-width:960px){    html{font-size:50%; }  }
@media screen and (max-width:480px){    html{font-size:25%; }  }
@media screen and (max-width:320px){    html{font-size:16.67%; }  }

.body {
    width:100%;
    min-width: 320px;
    max-width: 1980px;
    margin: 0 auto;
    background-color: #fafafa;
}
*{
    margin:0;
    padding:0;
}
.row {
    margin-left:0;
}
a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    cursor: pointer;
}
/*header*/
header {
    width:100%;
}
header .top {
    padding-left:19%;
    padding-right:19%;
}
/*header-1*/
.header-top {
    max-width:1980px;
    margin:0 auto;
}
.header-top span {
    margin-left:1rem;
    font-size:1.8rem;
    line-height:4rem;
    color: #1db176;
}
.header-icon {
    float: right;
}
.header-icon-weixin {
    display: inline-block;
    width: 28px;
    height: 30px;
    background: url(images/icon1.png) -57px 0;
    margin:12px 6px;
}
.header-icon-qq{
    display: inline-block;
    width: 28px;
    height: 30px;
    background: url(images/icon1.png) -28px 0;
    margin:12px 6px;
}
.header-icon-weibo{
    display: inline-block;
    width: 28px;
    height: 30px;
    background: url(images/icon1.png) 0 0;
    margin:12px 6px;
}
.login {
    font-size:1.8rem;
    line-height:4rem;
    float: right;
}
.login a {
    color: #000;
}
.header-dot {
    color:#29b078;
    font-weight:bold;
    padding:0 0.5rem;
}
/*header-2*/
.navbar-toggle{
    margin-top:4rem;
}
.nav-box{
    background-color:#29b078 ;
}
.navbar{
    background-color:#29b078;
    border-radius:0;
    border:0;
    padding-left:19%;
    /*padding-right:16%;*/
}
@media only screen and (max-width:768px){
    .navbar {
        padding-left:0;
    }
    .navbar-nav {
        margin-right: 50% !important;
    }
}
.navbar-header{
    height:97px;
}
.nav{
    margin:24px 0;
    float: right;
}
.navbar-nav {
    margin-right:19%;
    font-size:1.6rem;
}
.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}
.nav li{
    border-bottom: 3px solid #29b078;
}
.nav li:hover{
    border-bottom: 3px solid #fff;
}
.nav span{
    color: #fff;
}

/*main*/
main {
    background: #fafafa;
}
/*轮播图*/
.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
}
.carousel-inner p {
    color: white;
    position: absolute;
    top: 11.5vw;
    left: 11.5vw;
    font-size:3vw;
}
.carousel-control {
    font-size: 8vw;
    position: absolute;
    top:8vw;
    background-image: none !important;
}

/*main-middle*/
.main-middle{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    background: #fafafa;
    padding-bottom:8vw;
}
/*main-middle1*/
.main-middle1 {
    overflow: hidden;
    width: 100%;
    margin:160px 0 40px;
}
.feature-box,.count-box {
    max-width:225px;
    margin:0 auto;
}
.feature-img{
    line-height: 80px;
    text-align: center;
}
.feature-h3{
    line-height:64px;
    text-align: center;
    font-size:18px;
    font-weight:bold;
}
.feature-p{
    font-size:17px;
    color:gray;
    line-height: 26px;
}
.count-box{
    padding-top:40px;
    padding-left:32px;
    border-left:2px dashed #dedede ;
}
.count-h4{
    font-size:16px;
    font-weight:bold;
    color:green;
    line-height:32px;
    margin-top:16px;
}
.count-p{
    font-size:16px;
    color: gray;
    line-height:32px;

}
/*man-middle2*/
.study{
    width: 100%;
    height: 44rem;
    font-size: 0;
}
.study h4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.4rem;
    font-size: 1.8rem;
    font-weight:bold;
}
.study .arrow{
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    padding: 4.6rem 0.5rem;
}
.study .arrow h5{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2.6rem 3.1rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    color: #29b078;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #e6e6e6;
}
.study .arrow p{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1.2rem;
    width: 15.88rem;
    font-size: 1.4rem;
    line-height: 1.5;
    color: gray;
}
/*main-middle3*/
.show h4{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 10rem;
    font-size:1.8rem;
    font-weight:bold;
}
.show .show-all{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43rem;
}
.show .des{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:37rem;
    width:27.4rem;
    padding:0 3rem;
    margin-left:-1.5rem;
    font-size:0;
    background:white;
    border-radius:5px;
    box-shadow: 0 0 4px 0 #ddd;
}
.show .photos{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:2.1rem 0;
    width:10rem;
    height:10rem;
    overflow:hidden;
    border-radius:50%;
}
.show img{
    display: flex;
    max-width: 150%;
}
.show h5{
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight:bold;
    height: 7rem;
}
.show p{
    display: inline-flex;
    font-size: 1.6rem;
    line-height: 1.5;
    color: gray;
}

/*main-middle4*/
.main-middle4 h4{
    display:flex;
    justify-content:center;
    align-items:center;
    height:10.4rem;
    font-size:1.8rem;
    font-weight:bold;  }
.logo {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
}
.company{
    display: inline-block;
    width: 200px;
    height: 150px;
    padding: 25px;
    margin: 0 auto;
}
.company:hover {
    box-shadow: 0 0 15px #999;
}

/*footer*/
footer {
    width:100%;
}
/*友情链接*/
.frind-link{
    background-color: #fff;
    width:100%;
}
.friend-link h4 {
    text-align: center;
    margin-top:2vw;
    margin-bottom:2vw;
}
.link{
    display: inline-block;
    line-height:28px;
    padding:0 30px;
    color: gray;
}
.link li {
    border-bottom:1px solid transparent;
}
.link li:hover {
    border-bottom:1px solid #26a26f;

}
/*底部导航栏*/
.footer{
    width:100%;
    color:white;
    background:#26a26f;
}
.footer a{
    color:white;
}
.footer a:hover{
    text-decoration: none;
    padding-bottom:3px;
    border-bottom:1px solid white;
}
.footer-three{
    width:100%;
    padding:0 11%;
}
.footer-left p{
    font-size:1.6rem;
    padding-top:3.6rem;
    padding-bottom:1rem;
}
p.footer-info {
    float: left;
    font-size:1.4rem !important;
    padding-top:5.5rem;
    line-height:1.3rem;
}
.footer-left .verticalline{
    padding-right:1rem;
    margin-right:0.9rem;
    border-right:2px solid white;
}
.footer-center p {
    font-size:1.6rem;
    padding-top:3.6rem;
    padding-bottom:2rem;
}
.footer-center ul {
    overflow: hidden;
}
.footer-center ul li {
    float: left;
    margin:1rem 0;
    padding-right:3.4rem;
    list-style: none;
}
.footer-right p{
    font-size:1.6rem;
    padding-top:3.6rem;
    padding-bottom:0.6rem;
}
.footer-bottom{
    width: 100%;
    margin-top:2rem;
    height:3rem;
    text-align: center;
    font-size:1.2rem;
    color: #fff;
    line-height:3rem;
    border-top:1px #FFFFFF solid;
}
.footer-about,.footer-contact{
    padding-right:2.6%;
    border-right:2px solid white;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both; }
.corp-box{
    width:100%;
    background-color: #26a26f;
    text-align: center;
    line-height:30px;
    border-top:1px solid #32c086;
    color: #fff;
}