.footer {
	width: 100%;
	color: white;
	background: #26a26f;
}
.footer a {
	color: white;
	border-bottom: 1px solid transparent;
}
.footer a:hover {
	padding-bottom: 3px;
	border-bottom: 1px solid white;
}
.footer-top {
	padding: 0 11%;
}
.footer-left {
	float: left;
	padding: 3.6rem 0 1rem;
	font-size: 1.6rem;
}
.footer-left ul {
	float: left;
	padding-top: 5.5rem;
}
.footer-left ul li {
	display: inline-block;
	line-height: 1.3;
}
.footer-left .verticalline {
	padding-right: 1rem;
	margin-right: 0.9rem;
	border-right: 2px solid white;
}
.footer-middle {
	float: left;
	font-size: 1.4rem;
}
.footer-middle p {
	font-size: 1.6rem;
	padding-top: 3.6rem;
	padding-bottom: 2rem;
}
.footer-middle ul {
	float:left;
}
.footer-middle ul li {
	margin: 1rem 0;
	line-height:1.2;
	padding-right: 3.4rem;
}
.footer-right {
	float: left;
	text-align: right;
}
.footer-right p {
	padding: 3.6rem 0 0.6rem;
	font-size: 1.6rem;
}
.footer-bottom {
	text-align: center;
	margin-top: 2rem;
	width: 100%;
	height: 3rem;
	font: 1.6rem/3rem serif;
	color: #fff;
	border-top:1px #32c086 solid;
}

@media screen and (max-width: 480px) {
	.footer-left, .footer-middle, .footer-right {
		width:100%;
	}
}
