/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
th, td, tr { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
}
/* 设置默认字体 */
body, button, input, select, textarea {
    font-family: arial,"Microsoft YaHei", serif;
    line-height:1;
    outline:none;
}
label{
    font-weight:normal;
}
/* 重置列表元素 */
ul, ol { list-style: none; }
/*重置按钮样式*/
button{
    background:transparent;
    border:none;
}
/* 重置文本格式元素 */
a {
    text-decoration: none; }
img{
    max-width: 100%;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both; } /* For IE 6/7 (trigger hasLayout) */
.clearfix { zoom: 1; }

body{
    min-width:320px;
}
.container{
    margin: 0 auto;
}
/* 超小屏幕（手机，小于 768px） */
@media screen and (max-width:767px) {
    html {
        font-size: 50%;
    }
}
/* 小屏幕（平板，大于等于 768px） */
@media screen and (min-width:768px) {
    html {
        font-size:50%;
    }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media screen and (min-width:992px) {
    html {
        font-size:50%;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media screen and (min-width:1200px) {
    html {
        font-size: 62.5%;
    }
}