@charset "UTF-8";
/*轮播图*/
.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
}
.carousel-inner p {
    color: white;
    position: absolute;
    top: 11.5vw;
    left: 11.5vw;
    font-size:3vw;
}
.carousel-control {
    font-size: 8vw;
    position: absolute;
    top:8vw;
    background-image: none !important;
}