html {
    font-size:62.5%;
}
body {
    max-width: 64rem;
    margin: 0 auto;
}
p {
    margin:0;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 7rem;
    width: 100vw;
    max-width:64rem;
    background: #29BDE0;
}
.dropdown button {
    margin: 2rem 0 0 1rem;
    background: #29BDE0;
    border:none;
    color: white;
    font-size:2rem;
}
main {
    padding-top:7rem;
    text-align: center;
    background-color: #F0F0F0;
    padding-bottom: 3rem;
}
.lastGame {
    height:6rem;
    background-color: white;
    width:88%;
    margin: 1.25rem auto;
    font-size:2.24rem;
    border: 1px solid #C9C9C9;
}
.lastGame a {
    color: #C9C9C9;
}
.lastGame span {
    position: absolute;
    top: .2rem;
    right:3%;
    font-size:2.5rem;
}
.lastGame p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.game {
    background-color: white;
    width: 88%;
    margin:0 auto;
    border:1px solid #C9C9C9;
}
.gameName {
    font-size: 2.24rem;
    color: #FBB435;
    border-bottom: 1px solid #FBB435;
    height:5rem;
}
.gameName p {
    line-height:4.5rem;
}
.gameVersion button {
    font-size:2rem;
    color: white;
    background: #69D1E9;
    border:none;
    outline:none;
    width:82%;
    border-radius:0;
    margin: 1.7rem 0;
    padding:2.8rem 0.6rem;
}
.gameVersion p {
    font-size:1.5rem;
    color: #C9C9C9;
}
.glyphicon-triangle-right {
    width:0;
    height:0;
    display: inline-block;
    border-top:20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 15px solid #FBB435;
    position: absolute;
    right: 1rem;
    top:3.3rem;
}
.glyphicon-triangle-right:before {
    content: none;
}
.dot a {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    border-radius:0.25rem;
    background-color: #F0F0F0;
    margin:0 .15rem;
}
.dot .active {
    background-color: #69D1E9;
}
.gameVersion {
    position: relative;
}