@charset "UTF-8";
.navbar-toggle{
    margin-top:4rem;
}
.nav-box{
    background-color:#29b078 ;
}
.navbar{
    background-color:#29b078;
    border-radius:0;
    border:0;
    padding-left:19%;
    /*padding-right:16%;*/
}
@media only screen and (max-width:768px){
    .navbar {
        padding-left:0;
    }
    .navbar-nav {
        margin-right: 50% !important;
    }
}
.navbar-header{
    height:97px;
}
.nav{
    margin:24px 0;
    float: right;
}
.navbar-nav {
    margin-right:19%;
    font-size:1.6rem;
}
.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}
.nav li{
    border-bottom: 3px solid #29b078;
}
.nav li:hover{
    border-bottom: 3px solid #fff;
}
.nav span{
    color: #fff;
}

