html{
    font-size:62.5%;
    max-width: 640px;
    height:100%;
    margin:0 auto;
}
.mojing{
    background-color: #68cdd5;
}
.back>img{
    width:9%;
    margin: 0 auto;
    padding-left: 5%;
    padding-top:3%;
}
.logo{
    width:100%;
    margin-top:6.5%;
}
.logo>img{
    width:29%;
    display: block;
    margin:0 auto;
}
.main{
    width:72%;
    font: 3rem "Microsoft YaHei" ;
    color: white;
    text-align:left;
    line-height:1.8;
    margin:13% auto;
}
.footer{
    overflow: hidden;
}
.left{
    float:left;
    width:50%;
    margin:17% 0;
}
.right{
    float: right;
    width: 50%;
    margin:17% 0;
}
.footer img{
    width:33%;
    display: block;
    margin:0 auto;
}
.footer p{
    text-align: center;
    font:2.4rem "Microsoft YaHei";
    color: white;
}